:root {
  --primary-color: #e66771;
  --secondary-color: gainsboro;
  --dark-color: #002238;
  --font-sans: 'Karla', sans-serif;
  --font-serif: 'Lora', serif;
  --font-big: 60px;
  --font-medium: 25px;
  --font-small: 15px;
  --font-heavy: 700;
  --font-light: 400;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: var(--font-sans);
  font-weight: var(--font-light);
  font-size: var(--font-medium);
  line-height: 1.6;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 30px;
  text-align: center;
}

.page-header {
  background-color: var(--dark-color);
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 100%;
  padding: 20px;
}

.logo {
  color: var(--primary-color);
  font-family: var(--font-sans);
  font-size: var(--font-big);
  font-weight: var(--font-heavy);
  text-decoration: none;
}


/* --- 2021-02-05 css for js --- */

.list__item {
  width: 100%;
  padding: 25px;
  background-color: var(--primary-color);
  color: var(--dark-color);
  font-size: var(--font-medium);
  box-sizing: border-box;
}


/* --- 2021-02-05 media queries --- */

@media all and (max-width: 500px) {
  .list__item {
  font-size: var(--font-small);
  }
    
  .logo {
    font-size: var(--font-medium);
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .list__item {
  font-size: var(--font-medium);
  }
}

/* shared code */
@media all and (max-width: 750px) {
  .list__item {
/*  font-size: var(--font-medium);*/
  }
}