:root {
  --primary-color: #e5f060;
  --secondary-color: #f8f8f8;
  --dark-color: #001f72;
  --dark-opacity: rgba(0, 31, 114, 0.85);
  --accent-color: #fc01b1;
  --font-sans: 'Karla', sans-serif;
  --font-serif: 'Lora', serif;
  --font-big: 60px;
  --font-medium: 25px;
  --font-small: 15px;
  --font-heavy: 700;
  --font-light: 400;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 800px;
  font-family: var(--font-sans);
  font-weight: var(--font-light);
  font-size: var(--font-medium);
  line-height: 1.6;
  background-color: var(--secondary-color);
  color: var(--dark-color);
  padding: 30px;
  padding-top: 80px;
  text-align: center;
}

.poke-list {
  list-style-type: none;
  display: inline;
  margin-top: 70px;
}

.page-header {
  background-color: var(--dark-color);
}

a {
  color: var(--accent-color);
}

a:hover {
  color: var(--accent-color);
}

button {
  margin-bottom: 10px;
}

.navbar-toggler{
    color: var(--accent-color);
    transform: rotate(90deg);
}

.navbar-brand{
    font-size: var(--font-medium);
}

button:active{
    border: none;
    box-shadow: none;
    outline: none;
}

button:focus{
    border: none;
    box-shadow: none;
    outline: none;
}

.list__item {
  width: 100%;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--dark-color);
  font-size: var(--font-medium);
  font-weight: var(--font-heavy);
  text-transform: uppercase;
  box-sizing: border-box;
  border: none;
}

.list__item:hover{
  background-color: var(--accent-color);
  color: var(--dark-color);
}

.btn:active{
  background-color: var(--dark-color);
  color: var(--primary-color);
  box-shadow: none;
}
.btn:focus{
  box-shadow: none;
}

.error {
  padding: 10px;
  background-color: var(--accent-color);
  color: var(--primary-color);
  font-weight: var(--font-heavy);
}


h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

#image-container {
  display: grid;
}

.modal-image {
  width: 60%;
  padding: 30px;
}

/* --- 2021-02-05 media queries --- */

@media all and (max-width: 500px) {
  body{
    font-size: var(--font-small);
  } 

  .list__item {
      font-size: var(--font-small);
  }
    
  .logo {
    font-size: var(--font-medium);
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .list__item {
      font-size: var(--font-medium);
  }
}

/* shared code */
@media all and (max-width: 750px) {
  .list__item {
      font-size: var(--font-medium);
  }
}