:root {
  --primary-color: #e5f060;
  --secondary-color: #f8f8f8;
  --dark-color: #001f72;
  --dark-opacity: rgba(0, 31, 114, 0.85);
  --accent-color: #fc01b1;
  --font-sans: 'Karla', sans-serif;
  --font-serif: 'Lora', serif;
  --font-big: 2.5rem;
  --font-medium: 1.5rem;
  --font-small: 1rem;
  --font-heavy: 700;
  --font-light: 400;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 800px;
  font-family: var(--font-sans);
  font-weight: var(--font-light);
  font-size: var(--font-medium);
  line-height: 1.6;
  background-color: var(--secondary-color);
  color: var(--dark-color);
  padding: 2rem;
  padding-top: 6rem;
  text-align: center;
}

.poke-list {
  list-style-type: none;
  display: inline;
  margin-top: 2rem;
}

.page-header {
  background-color: var(--dark-color);
}

a {
  color: var(--accent-color);
}

a:hover {
  color: var(--accent-color);
}

.navbar-toggler{
    color: var(--accent-color);
    transform: rotate(90deg);
}

.navbar-brand{
    font-size: var(--font-medium);
}

button {
  margin-bottom: 0.7rem;
}

button:active{
    border: none;
    box-shadow: none;
    outline: none;
}

button:focus{
    border: none;
    box-shadow: none;
    outline: none;
}

.list__item {
  width: 100%;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--dark-color);
  font-size: var(--font-medium);
  font-weight: var(--font-heavy);
  text-transform: uppercase;
  box-sizing: border-box;
  border: none;
}

.list__item:hover{
  background-color: var(--accent-color);
  color: var(--dark-color);
}

.btn:active{
  background-color: var(--dark-color);
  color: var(--primary-color);
  box-shadow: none;
}
.btn:focus{
  box-shadow: none;
}

.error {
  padding: 1rem;
  background-color: var(--accent-color);
  color: var(--primary-color);
  font-weight: var(--font-heavy);
}

h1 {
  text-transform: uppercase;
  font-size: var(--font-big);
}

p {
  margin-bottom: 0;
}

.modal-content{
  padding: 1rem;
  background-color: var(--secondary-color);
}

.modal-header{
  border-bottom: 0px;
}

.modal-image {
  padding: 3rem;
    display:block;
    height: 90%;
}

.col{
    padding: 1rem;
    border-bottom: 1px solid var(--accent-color);
    border-top: 1px solid var(--accent-color);
}

.close{
  color: var(--accent-color);
  font-size: var(--font-big);
  text-align: right;
  margin:0;
  line-height: 0.5;
}

/* -------------- BOOTSTRAP BREAKPOINTS ---------------- */
/*Small devices (landscape phones, 576px)*/
@media (max-width: 576px) {
  h1 {
    font-size: var(--font-medium);
      
  } 
   .row{
      font-size: var(--font-small);
    }

 }

@media (min-width: 576px) {
  h1 {
    font-size: var(--font-big);
  } 
   .list__item{
/*      font-size: var(--font-medium);*/
    }

 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  body{
      
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  body{
      
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  body{
  }
}